*~
*.o
*.swp
*.bak
*cache.lib
*.pyc
*.egg-info
*.egg
*.tar.gz
*.FCStd1
data.txt
data.pkl
__pycache__
software/python/potentiostat/build
software/python/potentiostat/docs/build
software/javascript/app/dist
_build
node_modules
rescue-backup
